@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--sec-color) !important;
  margin: 0 auto;
  color: var(--dark-color) !important;
  line-height: 1.6;
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden !important;
}

.links {
  background-color: #eaecf0;
  color: #000000 !important;

  border: 1px solid #eaecf0;
  border-radius: 8px;

  text-align: center;

  padding: 1rem;
  margin: 1rem 0;
}

.back-icon {
  text-align: right;
  position: relative;
  top: -10rem;
  right: 3rem;
}

/* Contact */
.contact .form-control {
  padding: 10px 14px !important;
  border-radius: 8px !important;
}
.contact .form-control::placeholder {
  color: #9199aa !important;
}
.contact .form-check-input {
  border: #9199aa 1px solid !important;
  border-radius: 6px !important;
}

.contact .invalid-field {
  border-color: #f83f23 !important;
}
.contact .invalid-field:focus {
  box-shadow: inset 0px 0px 0px 1px #f83f23 !important;
}
.contact .invalid-text {
  color: #f83f23;
}
/* Contact */

@media screen and (max-width: 580px) {
  .back-icon {
    right: 0.5rem;
  }
}
